backports.functools-lru-cache==1.5
certifi==2019.3.9
chardet==3.0.4
cheroot==6.5.4
Click==7.0
colorzero==1.1
crcmod==1.7
future==0.17.1
gpiozero==1.5.0
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.10.1
MarkupSafe==1.1.1
meld3==1.0.2
more-itertools==7.0.0
portend==2.4
pyserial==3.4
pytz==2019.1
PyYAML==5.1
requests==2.21.0
six==1.12.0
supervisor==4.0.2
tempora==1.14.1
urllib3==1.24.2
web.py==0.40.dev1
Werkzeug==0.15.3
zc.lockfile==1.4
